
html, body {
  font-family:sans-serif;
  margin: 1";
    width: 100%;
  height: 100%;
}
img {
  width: 25%;
  height: 25%;
}
.container {
   display: flex;
}

h1 {
  color:DarkOliveGreen;
  font-size: 56px;
  border: 2px solid black;
}

h3 {
  color:DarkOliveGreen;
  font-size: 36x;
  border: 2px solid black;
}
